.CartItem{
    display: flex;
    width: 100%;
    min-height: 40rem;
}

.CartItem > h1{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.CartItem > h2{
    font-weight: normal;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.leftSide > h3{
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}


.CartItem > p{
    font-size: 2rem;
    font-weight: bold;
}

.leftSide{
    width:70%;
    margin-right: 10rem;
    height: 40rem;
}

.leftSide > p{
    font-size: 2rem;
    font-weight: bold;
}

.rightSide{
    position: relative;
    height: 40rem;
}

.rightSide > img{
    height: 35rem;
    width: 35rem;
    transform: translate(0%, 6.7%);
}

.btnGroup{
    position: relative;
    width: 5rem;
    transform: translate(15rem, -2rem);
}

.btnGroup > button{
    width: 2.25rem;
    height: 2.25rem;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    font-weight: 200;
    background-color: black;
}

.btnGroup > button:first-child{
    margin-right: 1rem;
}


.quantity{
    transform: translate(-120%, -102%);
    height: 22rem;
    width: 3rem;
    display: grid;
}

.quantity > div{
    margin: auto;
    font-size: 2.5rem;
}

.quantity > button{
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    font-size: 2.5rem;
    border-width: 0.5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.quantity > button:last-child{
    transform: translate(0, 132%);
}

.CartItem > .leftSide > .attributes > .selected{
    scale: 0.75;
    transform: translate(-20%);
    margin-right: 0em;
    border-width: 3px;
}

.CartItem > .leftSide > .attributes > .attribute{
    width: 4.2rem;
}

.CartItem > .leftSide > .attributes{
    height: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

