.Cart{
    background-color: antiquewhite;
    position: absolute;
    top: 10vh;
    min-height: 85vh;
    width: 100vw;
    padding-top: 5vh;
}

.Cart > h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 8%;
}