.Store {
    position: absolute;
    width: 100vw;
    top: 10vh;
    padding-top: 2em;
    padding-bottom: 2em;
}


.CategoryName {
    font-size: 30px;
}

.Main{
    position: absolute;
    padding: 10em;
    width: 100%;
}