.Card {
    width: 10em;
    font-size: 40px;
    height: 14em;
    padding: 1em;
    margin: 1em;
    
}
.Card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Card__btn{
    display: none;
    background: none;
    border: none;
    height: 74px;
    width: 74px;
    transform: translate(7em, -3.5em);
}

.Card:hover .Card__btn{
    display: block;
}

.photo{
    width: 10em;
    height: 10em;
}

.Description {
    margin-bottom: 0.1em;
    margin-top: 0.25em;
    font-size: 20px;
}

.Price {
    margin-top: 0.25em;
    font-size: 20px;
}

a{
    color: black;
    text-decoration: initial;
}