.MiniCart{
    position: absolute;
    right: 9rem;
    top: 6rem;
    width: 22em;
    background-color: white;
}

.MiniCart > p{
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.totalContainer{
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    display: grid;
    width: 100%;
}

.Total {
    position: absolute;
    right: 1.5rem;
}

.CheckoutBtns{
    display: flex;
    width: 100%;
    padding-bottom: 1rem;

}

.CheckoutBtns > button{
    width: 9rem;
    margin: auto;
    height: 2.5rem;
    font-size: large;
    background-color: aliceblue;
    border: 1rem;
    cursor: pointer;
}